@{
    ViewBag.Title = "Application Development";
    ViewBag.Description = "For when you need a custom solution for your needs";
}

<div class="three-fourth">
    <h4>In addition to building web sites, Lost Tie can also produce reliable software to suit your business needs</h4>
    
    <p>A web site is great as a face for your company, but you also need a place for your employees to clock in and clock out for the day. . .  And what if you want to make the move from maintaining your inventory on paper to computer?  In a typical situation you, as a buisness, would purchase a tool from a company to maintain your time-clock system, you would also purchase a separate tool to assist you in managing your inventory.</p>

    <p>Great strides have been made with the availability of high-end programming development tools that can now allow you to have a centralized presence on the internet that allows you to do all of these things:</p>

    <ul>
        <li>Represent your business online with a web site</li>
        <li>Allow your employees to clock-in and clock-out for the day</li>
        <li>Manage your inventory system</li>
        <li>And just about anything else you can imagine</li>
    </ul>

    <p>You can have one dynamic web application that performs all of these duties for you, and Lost Tie can build such an application to suit your custom needs.</p>

    <h4>There are many benefits to having a dynamic web application support your business' needs</h4>

    <h5>Access your company tools anywhere you have internet access.</h5>
    <p>Since everything is online where your 'website' is located, you would be able to edit employee punch-in errors from home, or check in on your supply of widgets while you are at lunch.</p>

    <h5>Ease the worry of backing up data</h5>
    <p>Since you would have all of your data on a remote server, you could have a back-up system that updates daily, or even hourly, that you can rely on in case something goes awry.  This would be more cost efficient than having a remote back-up solution for data you keep on computers at work - and far less risky since you would have an automatic system in place.</p>
    <p>It is important (and the law) as a business owner that you maintain proper records of employee hours.  Why risk losing that data in a flood, fire, or other unexpected event when you can have the security of stable, well maintained databases that are regularly backed-up?</p>

    <h5>Incredible versatility</h5>
    <p>There are many systems designed by companies out there that have expensive licensing fees that were built to suit a greater audience than just yourself.  If you have a custom app build, it may surprize you to find that the costs may be much less than if you were to the route of purchasing a liscense to use pre-existing software as you can save by not including the generic items your business would not necessarily nee</p>
    <p>If you just need to maintain an inventory of a few thousand items for your one or two shops, you do not need a solution designed to help a national chain maintain hundreds of thousands of items across all of their stores.  This would be wasted money spent on unecessary features.</p>

    <p>Lost Tie specializes in Microsoft's ASP.NET programming and can use this to build just about any tool, even if it's not mentioned on this page, that you can think of that would help your day-to-day routine.  If you have questions about a solution that may help you - feel free to contact us either by phone or email.</p>


</div>

<div class="one-fourth last">
    <h4>Related:</h4>
    <p>@Html.ActionLink("Support All Browsers", "ModernTech", "Home")</p>
    <p>@Html.ActionLink("jQuery", "jQuery", "Home")</p>
    <p>@Html.ActionLink("Responsive Design", "ResponsiveDesign", "Home")</p>
</div>