@{
    ViewBag.Title = "Consultation";
    ViewBag.Description = "A deeper look into the web site consultation process";
}

<div class="three-fourth">
    <div class="content">
    <h4>It is vital to truly understand your website's accessibility</h4>
    <p>During the consulting part of the process you may discover there are features you had not considered before.  You may have considered some essential features you want to include in your website, but did not know other related options exist.</p>

    <h4>Do you need to publish a regular newsletter?</h4>  
    <p>This is a frequently requested feature from which many websites can benefit - but did you know that certain demographics tend to focus more on newsletters from one medium over another? Some people are more likely to read email than others.  If your users typically check their email daily, they'll be more likely to see and read your newsletter if you email it to them than users who check their email once a week.  How often do your users check their email?</p>

    <p>Another example: Social network styled publications pushed directly to the home page of your website more likely to be read by young-adults while some groups of users completely skip them over.   </p>

    <h4>Do you update a menu or other products regularly?</h4>
    <p>A good aesthetic is often of great importance when displaying a menu or showing off the products you have for sale, but many people do not realize that certain age-groups have a harder time viewing some colors on a monitor.  One may mistakenly frustrate users with text that is actually difficult to read when the person who made the menu felt the content was easily visible to everyone.  Do you know what a webpage looks like to someone who suffers from Dichromatic Color Blindness?</p>
    </div>

    <h5>Sources</h5>
    <ul>
        <li><a href="http://dl.acm.org/citation.cfm?id=957212&dl=ACM&coll=DL&CFID=80480330&CFTOKEN=95069716">Web usability and age: how design changes can improve performance</a></li>
        <li><a href="http://www.amazon.com/Think-Common-Sense-Approach-Usability/dp/0789723107">Don't Make Me Think: A Common Sense Approach to Web Usability</a></li>
    </ul>
    

    
</div>

<div class="one-fourth last">
    <h4>Related:</h4>
    <p>@Html.ActionLink("Website Design", "WSDesignProcess", "Home")</p>
    <p>@Html.ActionLink("Goals for a business website", "BusinessSiteGoals", "Home")</p>
</div>