@{
    ViewBag.Title = "jQuery";
    ViewBag.Description = "The latest browser capability at your fingertips";
}

<div class="three-fourth">
    <h4>jQuery is a robust JavaScript library that allows for quick creation of elegant and lively website designs</h4>
    
    <p>A rather recent technology, jQuery was created with the intent of simplifying the process of adding animation, moving around, and interacting with a website.  The result is that typically if a website feels alive and dynamic - there is likely some jQuery at work.</p>

    <p>Lost Tie is a big fan of jQuery and uses it regularly.  In fact - this website has a lot of features built using jQuery.  The way the navigation tabs at the top of this page behave, the image slider on the home page, and many other features were all enabled or enhanced by the use of jQuery.</p>

    <p>One of the reasons we are able to deliver web-site designs as quickly as we can while still maintining stability and reliability is because of the work of the open-source community that has built jQuery and the plugins associated with it.</p>

    <p>If you would like to know more about how we can liven up your website using jQuery, feel free to contact us; we'll be glad to answer any questions.</p>

    
</div>

<div class="one-fourth last">
    <h4>Related:</h4>
    <p>@Html.ActionLink("Support All Browsers", "ModernTech", "Home")</p>
    <p>@Html.ActionLink("Responsive Design", "ResponsiveDesign", "Home")</p>
    <p>@Html.ActionLink("Application Development", "AppDevelopment", "Home")</p>
</div>