@{
    ViewBag.Title = "Support for all modern browsers";
    ViewBag.Description = "Your users may be using a variety of browsers - make sure they get the best content no matter what device they use";
}

<div class="three-fourth">
    <h4>It is vital to truly understand your website's accessibility</h4>

    <p>Now, more than ever, people are using different browsers, operating system, and devices to access the internet.  Just a few years ago you could make your website work on Internet Explorer and it would look good to just about everyone because just about everyone was using Internet Explorer.  The list today is a bit more robust and it includes the following:</p>

    <h5>Browsers:</h5>
    <ul>
        <li>Internet Explorer</li>
        <li>Firefox</li>
        <li>Chrome</li>
        <li>Opera</li>
        <li>Safari</li>
    </ul>

    <h5>Operating Systems:</h5>
    <ul>
        <li>Windows</li>
        <li>Mac OS</li>
        <li>Linux</li>
        <li>Apple iOS</li>
        <li>Android</li>
        <li>Windows Phone</li>
    </ul>

    <h5>Devices:</h5>
    <ul>
        <li>Desktops</li>
        <li>Laptops</li>
        <li>Tablets</li>
        <li>Phones</li>
        <li>eReaders</li>
    </ul>

    <p>There are many more than those listed above, but you get the idea.  Your users can be using a wide variety of methods for getting to your website, it could be overwhelming attempting to build a website that compliments the capabilities of all the tools used to browse the internet today.  This is why Lost Tie prides itself in it's ability to create a web site that is easily accessible to users of all sorts.</p>

    <p>Did you know there are standards in place that allow blind users to browse the internet using devices called screen readers?  One of the most popular browsers for those users is WebbIE, and we support development for that browser and the associated standards.</p>

    <p>There are many accesibility challenges to understand when building a website that caters to users.  Whether the challenges come from personal disabilities or the devices they use to get to your website, it is important that users <em>actually are able</em> to browse your website.</p>

    <p>If you have any questions about user accessibility to your website, please feel free to contact us.</p>
</div>

<div class="one-fourth last">
    <h4>Related:</h4>
    <p>@Html.ActionLink("jQuery", "jQuery", "Home")</p>
    <p>@Html.ActionLink("Responsive Design", "ResponsiveDesign", "Home")</p>
    <p>@Html.ActionLink("Application Development", "AppDevelopment", "Home")</p>
</div>