@{
    ViewBag.Title = "Responsive Design";
    ViewBag.Description = "A similar experience for your users whether they are on their phone, iPad, or home computer";
}

<div class="three-fourth">
    <h4>You don't need an entirely separate site for mobile users to view your web page</h4>
    
    <p>Responsive web design is a recent idea that has become popular with the surge in people browsing the internet with devices that aren't desktop computers.  People are using their phones, iPads, e-readers like Amazon's Kindle to browse the internet in addition to their desktop and laptop computers.</p>
    <p>If you have browsed the internet on a device other than your primary computer, you probably faced some frustration at one time or another.  This frustration comes in a few ways:</p>
    
    <ul>
        <li>A website redirects you to a 'mobile version' of the regular website</li>
        <p>This wouldn't be so bad if every mobile website was created with the same content as the main website.  Also - everyone who uses a mobile device to browse the internet has tried going to a specific page on a website only to get redirected to the 'mobile site' and then sent to the home page of the website instead of the page you wanted! </p>
        <li>Some websites are difficult to navigate on a mobile device</li>
        <p>Many websites have lots of tiny buttons, and if you were to try to touch those tiny buttons on a small screen you are likely to mis-touch and end up going somewhere you weren't wanting to go.</p>
    </ul>

    <h5>A web site designed with responsive web design in mind avoids frustration by having a website that adapts to the user's web browser - no matter what device they are using.</h5>
    <p>If you are on a computer right now, resize this window - make it skinnier and then wider.  You will notice that this is website uses a responsive design to allow it to be easily viewable on multiple platforms.</p>  
    <p>This website's images get smaller so they are easier to load and view on a phone, the page changes layout so you can view it appropriately whether you are in portrait or landscape mode on your iPad, the navigation bar even changes to allow you to tap it on touch devices to see the drop-down menus that you would normally see by hovering a mouse cursor over them on a computer.  There is a lot going on, but you probably didn't notice any of these capabilities until I mentioned something.  Websites like this are all designed to make the end-user experience as smooth as possible no matter what device they are using.</p>
</div>

<div class="one-fourth last">
    <h4>Related:</h4>
    <p>@Html.ActionLink("Support All Browsers", "ModernTech", "Home")</p>
    <p>@Html.ActionLink("jQuery", "jQuery", "Home")</p>
    <p>@Html.ActionLink("Application Development", "AppDevelopment", "Home")</p>
</div>