@{
    ViewBag.Title = "Who we are";
    ViewBag.Description = "<blockquote>We offer a local service that provides aesthetically pleasing and highly functional website and software design.</blockquote>";
}
<div>
    <h4>Who is Lost Tie LLC?</h4>

    <p>Lost Tie LLC is a small group of people from Corpus Christi with background in computer software / hardware repair,  graphic design, software design who realized their combined capability would make for an exceptional website and software design company.</p>

    <p>Living in Corpus Christi we realized there was a vacancy in the market.  Many people in need of technical consultation, website, or software design either do not know who to talk to or they go to some website where people they will never meet are expected understand and implement their exact needs.</p>

    <p>We wanted to offer Corpus Christi a service people can contact when they are looking for aesthetically pleasing and highly functional website design, software design, or modern technical advice when it comes to their software or hardware needs.</p>

    <p>Lost Tie LLC was founded with the idea that providing a great service is the only way to operate business.  We offer a level of detail and attention that will grant an excellent degree of comfort when dealing with your technical needs.</p>
</div>
